* {
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
#contain{
    width: 60%;
    margin: auto;
}
.heading{
    font-size: 40px;
    text-align: center;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: bolder;
}
#nav{
    background-color: rgb(0, 212, 0);
    position: fixed;
    width: 100%;
}
a{
    color: white;
    font-size: 20px;
}
#nav li {
    list-style: none;
    height: 25px;
    display: inline-block;
}
#nav li :hover{
    background-color: rgb(1, 150, 46);
}
#donate{
    margin: auto;
    border: 2px ridge grey;
    border-radius: 20px;
    padding: 50px;
    width: 50%;
}
table{
    width: 100%;
    border: 2px ridge rgb(170, 170, 170);
    border-collapse: collapse;
    border-radius: 25px;
    margin-bottom: 50px;
    margin-top: 25px;
}
th,td{
    border: 2px ridge rgb(170, 170, 170);
    padding: 10px;
}