* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    outline: none;
}
html{
    scroll-behavior: smooth;
    background-color: rgb(90, 187, 243);
    color: white;
}
#contain{
    width: 50%;
    margin: auto;
}
h1{
    font-size: 90px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
#heading{
    background-image: url('./big-header.png');
    height: 950px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.heading{
    text-align: center;
    font-weight: 9000;
    margin: 25px 0px;
}
#nav{
    background-color: rgb(0, 145, 7);
    width: 100%;
}
a{
    color: white;
    font-size: 20px;
}
#nav li {
    list-style: none;
    padding: 20px 20px;
    display: inline-block;
}
#nav li :hover{
    background-color: rgb(1, 150, 46);
}
#donate{
    background-color: #ffffff;
    border: 1px ridge rgb(206, 206, 206);
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
    border-radius: 10px;
    color: black;
    text-align: center;

}
.button{
    background-color: white; 
    border: 1px ridge orangered;
    color: black;
    padding: 24px 46%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 9999px;
}
.button:hover{
    background-color: #113259;
    color: white;
}
#confirm:hover{
    background-color: orangered;
    color: white;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #ffffff;
  }
.grid-item {
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
    font-size: 30px;
    text-align: center;
    color: black;
    border: 1px ridge grey;
}
form{
    padding: 10px;
}
input{
    width: 100%;
    border: 1px ridge orangered;
    margin: 5px;
}
#leaderboard{
    text-align: center;
    margin: 100px;
}
.recent-donor{
    text-align: left;
    padding: 30px;
    background-color: #ffffff;
    border: 1px ridge rgb(206, 206, 206);
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
    border-radius: 10px;
    color: black;
    font-size: large;
}
.top-donor{
    text-align: left;
    padding: 30px;
    background-color: #ffffff;
    border: 1px ridge rgb(206, 206, 206);
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
    border-radius: 10px;
    color: black;
    font-size: large;
}
#achievement{
    background-color: #102b4b;
}
#achievement-contain{
    width: 50%;
    margin: auto;
}
.continent-contain{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section{
    text-align: left;
    padding: 20px;
    background-color: rgb(245, 245, 245);
    border: 1px ridge rgb(206, 206, 206);
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
    border-radius: 5px;
    color: black;
    font-size: large;
    width: 49%;
    margin: 10px 0px;
}
.img-fit{
    width: 100%;
    border-radius: 5px;
}
#media{
    background-color: white;
    padding-left: 50px;
    color: black;
}
